:root {
  --header: #ffffff;
  --background-rectangle1: #ffffff;
  --background-rectangle1-border: #cccccc;
  --background-rectangle2: #f8f8f8; 
  --background-rectangle2-border: #cccccc;
  --main: #f9f9f9;
  --sidebar: #ffffff;
}